@use 'variables' as *;

// Arrow Styling for all Carousels

.prev-arrow,
.next-arrow {
  &:before {
    color: $orange;
    font-size: 2em;
  }
  &:hover:before {
    cursor: pointer;
  }
}

// Banner

.BannerSection {
  @extend %banner;
  color: $grey;
  position: relative;

  .slick-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    z-index: 999;
    left: 2%;
  }

  .slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-80%);
    z-index: 999;
    right: 2%;
  }

  .BannerShadebox {
    .BannerBtn {
      background-color: $orange;
      color: white;
    }
    @media (max-width: 680px) {
      display: none !important;
    }
    @media (min-width: 680px) {
      display: flex;
    }
  }
}

@mixin banner-background($image) {
  background-image: url('../images/#{$image}.jpg');
  background-size: cover;
  background-position: center;
}

// map of devices and associated images
$banner-images: (
  'banner-01-speaker-black',
  'banner-02-bluetooth-receiver',
  'banner-03-speaker-brown',
  'banner-04-speaker-brown',
  'banner-05-speaker-red',
  'banner-06-speaker-black',
  'banner-07-speaker-white'
);

// assign image using mix-in to background of each device by its class name
@each $image in $banner-images {
  .#{$image} {
    @include banner-background($image);
  }
}

// End of Banner

// Shop by Room or Device

.room-inner-carousel {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (min-width: 450px) {
    width: 80%;
    margin: 0 auto;
    display: block;
  }
}

.room-item-wrapper {
  padding: 1em;
}

.ShopByRoomItem {
  background-color: $grey; // color in case image is missing or slow to load
  width: 100%;
  min-width: 142px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: white;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.5em;
}

// Background Image Mixin for Shop By Room Items
@mixin sbr-background($image) {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url($image);
}

// map of devices and associated images
$room-devices: (
  'sonos': '../images/shop-slider-01-speaker-white.jpg',
  'siri': '../images/shop-slider-02-speaker-brown.jpg',
  'turntable': '../images/shop-slider-03-speakers-brown.jpg',
  'tv': '../images/shop-slider-04-speakers-brown.jpg',
  'kitchen': '../images/shop-slider-05-speakers-brown.jpg',
  'patio': '../images/shop-slider-06-speaker-brown.jpg',
  'office': '../images/shop-slider-07-speakers-white.jpg',
  'bedroom': '../images/shop-slider-08-speakers-white.jpg',
);

// assign image using mix-in to background of each device by its class name
@each $name, $image in $room-devices {
  .#{$name} {
    @include sbr-background($image);
  }
}

// End of Shop by Room or Device

// In the News

.InTheNewsSection {
  text-align: center;
  .carousel-wrapper {
    @media (min-width: 500px) {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.InTheNewsItems a {
  display: block;
  margin: 4em 2em;
  &:first-child {
    margin-top: 3em;
  }
}

// End of In The News
